{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<div>
    <h3 align="center" style="background-color:#b5e0e8">{{c.name}}</h3>
  <img  src="{{c.image.url}}" height="600px" width="100%" >
</div>
<div class="container-fluid mt-4" style="margin-bottom:100px;text-transform: uppercase;">

  <p style="linne-height:1.8;text-align:justify;background-color:#a1d7f0;">{{c.desc}}</p>

  <div class="row">

      {% for i in p %}
    <div class="col-lg-6">

            <div class="card" style="width:20rem; margin-bottom:60px;margin-left:90px;">

  <img src="{{i.image.url}}" class="card-img-top p-2" alt="..." style="height:200px;">
  <div class="card-body">
    <h5 class="card-title text-center" style="font-weight:bold;">{{i.name}}</h5>
      <br>
    <p class="card-text text-center"> PRICE: {{i.price}}</p>
          <a href="{% url 'shop:viewproduct' i.name %}" class="btn btn-secondary" style="position:relative;left:36%;">Details</a>
  </div>
</div>
        </div>

  {% endfor %}
  </div>
</div>
{% endblock %}